@import "../../mixins.scss";
@import "../../variables.scss";

develop-ment {
  background: $color-white;
  background-image: linear-gradient(-220deg, rgba(255,255,255,0.50) 11%, rgba(191,191,191,0.51) 100%);
  box-sizing: border-box;
  color: $color-brown;
  display: block;
  min-height: 100vh;
  padding: 50px 20px;
  position: relative;
  width: 100%;

  logo-brackets {
    color: $color-white;
    display: block;
    margin: 0 auto;
    max-width: 80%;
    width: 150px;
  }

  knockout-letter {
    display: none;
    
    @media (min-width: 480px) {
        display: inline;
        margin: -9% 0 0 5%;
    }
  }

  .body {
    display: flex;
    max-width: $screen-huge;
    margin: 0 0 0 auto;
  }

  .title {
    @include title;
  }

  .copy {
    @include copy;
    @media (min-width: $screen-small) {
        margin: 2% 20% 0 2%;
    }
  }

  .information {
    @media (min-width: $screen-small) { 
      width: 65%;
    }
    @media (min-width: $screen-huge) {
        width: 60%;
    }
  }
}