@import "../../variables.scss";
@import "../../mixins.scss";
contact-me {
    @include section(
        $background: $color-white,
        $background-image: linear-gradient(-220deg, rgba(255,255,255,0.50) 11%, rgba(191,191,191,0.51) 100%),
        $color: $color-brown
    );
    
    logo-brackets {
        @include logo-brackets;
    }

    knockout-letter {
        @include knockout-letter;
        margin-left: 5%;
    }

    .body {
        max-width: $screen-huge;
        margin: 0 auto;
    }
    .title {
        @include title;
    }

    .information {
        display: inline-block;
        margin-top: 10%;
        vertical-align: top;
        width: 100%;
        @media (min-width: 480px) { 
          width: 60%;
        }
    }
    .copy {
        @include copy;
        @media (min-width: $screen-small) {
            text-align: center;
        }
    }

    .contact-point {
        display: block;
        color: $color-brown;
        text-decoration: none;
        margin-bottom: 10px;
        text-align: left;
        @media (min-width: $screen-small) {
            max-width: 182px;
            margin: 0 auto 10px auto;
        }
        @media (min-width: 880px) {
            display: inline-block;
            margin: 0 15px 0 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .icon {
        width: 32px;
        height: 32px;
        vertical-align: middle;
        margin-right: 5px;
    }  
    
    .footer {
        position: absolute;
        bottom: 20px;
        right: 20px;
        margin-top: 20px;
        text-transform: uppercase;
    }

    .footer-title {
        color: $color-title;
    }

    .footer-link {
        color: $color-dark-brown;
        text-decoration: none;
    }
}
