logo-name {
    position: relative;
    margin-top: calc(-100% * 20 / 123);
    margin-bottom: calc(-100% * 20 / 123);
    &:before {
        content: " ";
        display: block;
        padding-top: calc(100% * 80 / 123);
    }

    svg {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        path {
            fill: currentColor
        }
    }
}