logo-brackets {
    position: relative;

    &:before {
        content: " ";
        display: block;
        padding-top: 100%;
    }

    svg {
        position: absolute;
        top: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        path {
            fill: currentColor
        }
    }
}