@import "../../variables.scss";
@import "../../mixins.scss";

agile-coaching {
    @include section(
        $background: $color-brown,
        $color: $color-white
    );
    
    logo-brackets {
        @include logo-brackets;
    }    

    knockout-letter {
        @include knockout-letter;
        @media (min-width: $screen-small) {
            margin: -8% 5% 0 -6%;
        }
    }

    .body {
        display: flex;
        max-width: $screen-huge;
    }

    .title {
        @include title;
    }

    .copy {
        @include copy;
        @media (min-width: $screen-small) {
            margin-right: 20%;
        }
    }

    .information {
        @media (min-width: $screen-huge) {
            max-width: 60%;
        }
    }
}