@import "../../variables.scss";

$knockout-font-size: 35vw;
$knockout-font-size-max: 450px;

knockout-letter {
    .knockout-letter {
        display: inline-block;
        /* if we can clip, do it */
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    
        /* what will show through the text
            ~ or ~
        what will be the background of that element */
        background-image: url(/assets/images/profile.jpg);
        background-size: $knockout-font-size;
        background-position: 100% 85%;

        /* fallback text color
            ~ or ~
        the actual color of text, so it better work on the background */
        color: $color-knockout;
        font-size: $knockout-font-size;
        font-weight: $font-weight-extrabold;

        text-transform: uppercase;
        margin-top: -10%;

        &.letter-a {
            background-position: 45% 85%;
        }

        @media (min-width: $screen-huge) {
            font-size: $knockout-font-size-max;
            background-size: $knockout-font-size-max;
        }
    }
  }
