@import "../../variables.scss";

welcome-screen {
  background: $color-brown;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  .logo {
    color: $color-white;
    display: block;
    margin: 0 auto;
    max-width: 80%;
    position: relative;
    width: 300px;
    z-index: 0;
  }

  logo-name {
    display: block;
    width: 100%;
  }

  logo-brackets {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  
  .welcome-navigation {
    color: $color-title;
    font-family: $font-family;
    font-size: 20px;
    font-weight: $font-weight-semibold;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    text-transform: uppercase;
    z-index: 1;
  }

  .welcome-link {
    color: inherit;
    display: block;
    text-decoration: none;
    vertical-align: top;
    @media (min-width: 480px) { 
      width: 200px;
      display: inline-block;
      &.development-link {
        text-align: right;
      }
    }
  }

  .divider {
    @media (min-width: 480px) { 
      display: inline-block;
      vertical-align: top;
      &:after {
        content: " | ";
      }
    }
  }
}