@import "./variables.scss";

@mixin section (
  $background,
  $color,
  $background-image: none
) {
  background: $background;
  background-image: $background-image;
  box-sizing: border-box;
  color: $color;
  display: block;
  min-height: 100vh;
  padding: 50px 20px; 
  position: relative;
  width: 100%;  
}

@mixin logo-brackets {
  color: $color-white;
  display: block;
  margin: 0 auto;
  max-width: 80%;
  width: 150px;
}

@mixin knockout-letter() {
  display: none;
        
  @media (min-width: $screen-small) {
      display: inline;
  }
}

@mixin title {
  font-family: $font-family;
  font-size: 13vw;
  font-weight: $font-weight-semibold;
  color: $color-title;
  margin: 0;
  text-transform: uppercase;
  line-height: 11vw;
  @media (min-width: $screen-huge) {
    font-size: 165px;
    line-height: 130px;
  }
}

@mixin copy {
  font-family: $font-family;
  font-size: 15px;
  margin: 2% 0;
}