$color-title: #79EBC5;
$color-knockout: #A5E8C6;
$color-brown: #433c34;
$color-dark-brown: #403C35;
$color-white: white;
$color-grey: #CCC;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-extrabold: 800;

$font-family: 'Open Sans', sans-serif;

$screen-small: 480px;
$screen-huge: 1280px;
