icon-linkedin {
    display: inline-block;
    svg {
        display: inline-block;
        height: 100%;
        top: 0;
        width: 100%;
        
        path {
            fill: currentColor
        }
    }    
}